body {
  background-color: #FEEE91;
}

.event1 img {
  height: 180px;
}

.event1 {
  transform: translateY(-10px);
}

@media (max-width: 600px) {
  .event1 img {
    height: 450px;
  }

  .event1 {
    transform: translateX(-500px);
    text-align: center;
  }

  #EventsH1 {
    position: relative;
    right: 100px;
  }


}
